import(affy)

importFrom("methods")
importFrom("graphics", "plot")

export("expFarms",
       "qFarms",
       "lFarms",
       "generateExprVal.method.farms"
)


exportClasses(
"INI_Calls"
)



exportMethods("summary", 
		"plot",
       "INIcalls",
       "getI_Eset",
       "getNI_Eset",
       "getI_ProbeSets",
       "getNI_ProbeSets"
)


